@model Lab01.Models.InputData.InputModelRegister;
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title> Login </title>
    <!-- Style CSS -->
    @* <link rel="stylesheet" href="@Url.Content("~/wwwroot/css/style.css")">
    <!-- Demo CSS (No need to include it into your project) -->
    <link rel="stylesheet" href="@Url.Content("~/wwwroot/css/demo.css")">
    <link rel="stylesheet" href="/Views/Shared/demo.css">
    <link rel="stylesheet" href="/Views/Shared/style.css"> *@
</head>

<body>
    <style>

    </style>
    <header class="cd__intro">
        <h1> Wellcom to register page </h1>
        <p> </p>
        <!-- <div class="cd__action">
            <a href="https://www.codehim.com/forms/login-register-forgot-password-form-template" title="Back to download and tutorial page" class="cd__btn back">Back to Tutorial</a>
         </div> -->
    </header>

    <!--$%adsense%$-->
    <main class="cd__main">
        <!-- Start DEMO HTML (Use the following code into your project)-->
        <form asp-action="Register" asp-controller="Home" class="asm-form active" id="frmRegister" novalidate>
            <div class="asm-form__header">
                <h2>Register</h2>
            </div>
            <div class="asm-form__body">
                <div class="asm-form__linkbox">
                    Already member? <a type="button" class="asm-form__link" asp-action="Login" asp-for="Home">Sign
                        in</a>
                </div>
                <div class="asm-form__social-networks">
                    <button class="asm-form__social-btn facebook" data-action="social-login" data-network="facebook"
                        type="button">
                        <svg class="asm-form__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path class="inner"
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
                        </svg>
                    </button>
                    <button class="asm-form__social-btn twitter" data-action="social-login" data-network="twitter"
                        type="button">
                        <svg class="asm-form__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path class="inner"
                                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                        </svg>
                    </button>
                    <button class="asm-form__social-btn google" data-action="social-login" data-network="google"
                        onclick="location.href='@Url.Action("LoginWithGoogle", "Home")'" type="button">
                        <svg class="asm-form__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                            <path class="inner"
                                d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
                        </svg>
                    </button>
                    @* <button class="asm-form__social-btn linkedin" data-action="social-login" data-network="linkedin"
                    type="button">
                    <svg class="asm-form__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path class="inner"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0
                    29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69
                    76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28
                    142.3V448z" />
                    </svg>
                    </button> *@
                    <button onclick="location.href='@Url.Action("SignInwithMicrosoft", "Home")'"
                        class="asm-form__social-btn microsoft" data-action="social-login" data-network="microsoft"
                        type="button">
                        <svg class="asm-form__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <g>
                                <rect x="0" y="0" width="214" height="214" fill="#F1511B"></rect>
                                <rect x="234" y="0" width="214" height="214" fill="#80CC28"></rect>
                                <rect x="0" y="234" width="214" height="214" fill="#00ADEF"></rect>
                                <rect x="234" y="234" width="214" height="214" fill="#FFB900"></rect>
                            </g>
                        </svg>
                    </button>
                </div>
                @* Validation summary *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @* UserName field *@
                <div class="asm-form__inputbox">
                    <svg class="asm-form__icon prepend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="..."></path>
                    </svg>
                    <input class="asm-form__input" asp-for="UserName" type="text" id="registerUsername"
                        placeholder="username">
                    <label class="asm-form__inputlabel active" for="registerUsername">username</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                @* Email field *@
                <div class="asm-form__inputbox">
                    <svg class="asm-form__icon prepend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="..."></path>
                    </svg>
                    <input class="asm-form__input" asp-for="Email" type="email" id="registerEmail" placeholder="email">
                    <label class="asm-form__inputlabel active" for="registerEmail">email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                @* Phone field *@
                <div class="asm-form__inputbox">
                    <svg class="asm-form__icon prepend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="..."></path>
                    </svg>
                    <input class="asm-form__input" asp-for="Phone" type="tel" id="registerPhone" placeholder="phone">
                    <label class="asm-form__inputlabel active" for="registerPhone">phone</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                @* Role selection *@
                <div class="asm-form__inputbox">
                    <div style="display: flex;">
                        User: <input class="asm-form__input" type="radio" asp-for="RoleID" value="1" checked>
                        HRM: <input class="asm-form__input" type="radio" asp-for="RoleID" value="2">

                    </div>
                </div>

                @* Password field *@
                <div class="asm-form__inputbox">
                    <svg class="asm-form__icon prepend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="..."></path>
                    </svg>
                    <input class="asm-form__input validate" asp-for="Password" type="password" id="registerPassword"
                        placeholder="password">
                    <label class="asm-form__inputlabel active" for="registerPassword">password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @* Confirm Password field *@
                <div class="asm-form__inputbox">
                    <svg class="asm-form__icon prepend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="..."></path>
                    </svg>
                    <input class="asm-form__input validate" asp-for="comfirmPass" type="password"
                        id="registerPasswordRetry" placeholder="repeat password">
                    <label class="asm-form__inputlabel active" for="registerPasswordRetry">repeat password</label>
                    <span asp-validation-for="comfirmPass" class="text-danger"></span>
                </div>

                <div class="asm-form__textbox">
                    <span>By clicking register you agree to our <a href="#1" class="asm-form__link">terms of
                            service</a></span>
                </div>
            </div>

            <div class="asm-form__footer">
                <button class="asm-form__btn" id="registerSubmit">Register</button>
            </div>
        </form>
        <!-- END EDMO HTML (Happy Coding!)-->
    </main>
    <footer class="cd__credit">Author: Agil Kerimov - Distributed By: <a title="Free web design code & scripts"
            href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


    <style>
        :root {
            --asm-default-transition: 300ms;
            --asm-color-facebook: rgb(59, 89, 152);
            --asm-color-twitter: rgb(85, 172, 238);
            --asm-color-google: rgb(219, 68, 55);
            --asm-color-linkedin: rgb(0, 130, 202);
        }

        :root {
            --asm-color-warning: #ffc107;
            --asm-color-danger: #dc3545;
            --asm-color-dark: #343a40;
            --asm-color-focus: rgba(0, 123, 255, 0.25);
            --asm-color-secondary: #3f5c80;
            --asm-color-accent: #b4c2c9;
            --asm-color-flat: #6a9ed3;
            --asm-color-sidenav-item: rgba(29, 54, 86, .6);
            --asm-color-input-border: rgba(52, 58, 64, .25);
            --asm-color-btn-secondary: #64c3f0;
            --asm-color-background: #fff;
            --asm-color-text: #343a40;
            --asm-color-secondary-text: #fff;
            --asm-color-social: #fff;
        }

        *,
        *::before,
        *::after {
            margin: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: var(--asm-default-transition);
            transition: var(--asm-default-transition);
        }

        .cd__main {
            flex-direction: column !important;
            align-items: center;
            background: linear-gradient(to right, #d3cce3, #e9e4f0) !important;
        }

        body {
            padding-top: 1rem;
            font-family: sans-serif;
            background-color: #f0f0f0;
        }

        .asm-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 90%;
            max-width: 30rem;
            margin: 0 auto;
            font-family: inherit;
            border-radius: 0.5rem;
            -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.15);
            color: var(--asm-color-text);
            background-color: var(--asm-color-background);
            font-size: .8rem;
        }

        .asm-form:not(.active) {
            max-height: 0;
            overflow: hidden;
        }

        .asm-form__body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0.75rem 2rem;
            font-family: inherit;
            color: var(--asm-color-text);
            background-color: var(--asm-color-background);
        }

        .asm-form__footer,
        .asm-form__header {
            padding: 0.75rem 2rem;
            color: var(--asm-color-secondary-text);
            background-color: var(--asm-color-secondary);
        }

        .asm-form__footer {
            border-radius: 0 0 .5rem .5rem;
        }

        .asm-form__header {
            border-radius: .5rem .5rem 0 0;
        }

        .asm-form__social-networks {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .asm-form__social-btn {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin: .5rem 0;
            background-color: var(--btn-bg-color);
            border: none;
            border-radius: 50%;
            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }

        .asm-form__social-btn:hover {
            -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .asm-form__social-btn:not(:first-child) {
            margin-left: 1rem;
        }

        .asm-form__social-btn.facebook {
            --btn-bg-color: var(--asm-color-facebook);
        }

        .asm-form__social-btn.twitter {
            --btn-bg-color: var(--asm-color-twitter);
        }

        .asm-form__social-btn.google {
            --btn-bg-color: var(--asm-color-google);
        }

        .asm-form__social-btn.linkedin {
            --btn-bg-color: var(--asm-color-linkedin);
        }

        .asm-form__social-icon {
            height: 1.25rem;
        }

        .asm-form__social-icon .inner {
            fill: var(--asm-color-social);
        }

        .asm-form__inputbox,
        .asm-form__leverbox {
            position: relative;
            margin: 0.5rem 0;
            --error-opacity: 0;
            --error-top: -3rem;
            --error-z-index: -1;
            --input-box-shadow: none;
        }

        .asm-form__inputbox.invalid,
        .asm-form__leverbox.invalid {
            --error-opacity: 1;
            --error-top: 100%;
            --error-z-index: 10;
            --input-box-shadow: inset 0 0 4px var(--asm-color-warning);
        }

        .asm-form__icon {
            position: absolute;
            top: 50%;
            max-width: 1rem;
            color: inherit;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .asm-form__icon.prepend {
            left: 1rem;
        }

        .asm-form__icon.append {
            right: 1rem;
        }

        .asm-form__inputlabel {
            position: absolute;
            top: 50%;
            left: 0;
            font-family: inherit;
            color: inherit;
            -webkit-transition: var(--asm-default-transition);
            transition: var(--asm-default-transition);
            -webkit-transform: translate(3rem, -50%);
            transform: translate(3rem, -50%);
        }

        .asm-form__inputlabel:not(.active) {
            font-size: 1.25em;
        }

        .asm-form__inputlabel.active {
            top: 0;
            font-size: 1em;
            -webkit-transform: translate(1rem, -100%);
            transform: translate(1rem, -100%);
            color: var(--asm-color-text);
            text-transform: capitalize;
        }

        .asm-form__error {
            position: absolute;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            padding: .5rem 1rem;
            z-index: var(--error-z-index);
            top: var(--error-top);
            left: 3rem;
            color: var(--asm-color-warning);
            background: var(--asm-color-danger);
            border-radius: 0.5rem;
            opacity: var(--error-opacity);
        }

        .asm-form__error::before {
            position: absolute;
            left: 1rem;
            top: -1rem;
            z-index: -1;
            content: '';
            width: .5rem;
            height: .5rem;
            display: block;
            border-width: .5rem;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: var(--asm-color-danger);
            border-left-color: transparent;
            border-style: solid;
        }

        .asm-form__input {
            width: 100%;
            padding: 0.75rem 3rem;
            font-family: inherit;
            font-size: 1.25em;
            color: inherit;
            background-color: inherit;
            border: 1px solid var(--asm-color-input-border);
            border-radius: .3rem;
            -webkit-box-shadow: var(--input-box-shadow);
            box-shadow: var(--input-box-shadow);
            box-sizing: border-box;
        }

        .asm-form__input::-webkit-input-placeholder {
            color: transparent;
        }

        .asm-form__input:-ms-input-placeholder {
            color: transparent;
        }

        .asm-form__input::-ms-input-placeholder {
            color: transparent;
        }

        .asm-form__input::placeholder {
            color: transparent;
        }

        .asm-form__input:active,
        .asm-form__input:focus,
        .asm-form__input:hover {
            outline: none;
            -webkit-box-shadow: inset 0 0 4px var(--asm-color-sidenav-item);
            box-shadow: inset 0 0 4px var(--asm-color-sidenav-item);
        }

        .asm-form__leverbox {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }



        .asm-form__leverlabel {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
        }

        .asm-form__lever {
            position: relative;
            -moz-appearance: none;
            appearance: none;
            -webkit-appearance: none;
            width: 2rem;
            height: 1rem;
            margin-right: 1rem;
            background-color: var(--background);
            border: 1px solid var(--asm-color-secondary);
            border-radius: 1rem;
            outline: none;
            -webkit-transition: var(--asm-default-transition);
            transition: var(--asm-default-transition);
            cursor: pointer;
            --background: transparent;
            --ball-background: var(--asm-color-secondary);
            --ball-left: 0.15rem;
        }

        .asm-form__lever:checked {
            --background: var(--asm-color-secondary);
            --ball-background: #fff;
            --ball-left: calc(100% - .85rem);
        }

        .asm-form__lever:focus {
            -webkit-box-shadow: 0 0 0 0.2rem var(--asm-color-focus);
            box-shadow: 0 0 0 0.2rem var(--asm-color-focus);
        }

        .asm-form__lever::before {
            position: absolute;
            top: 50%;
            left: var(--ball-left);
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            content: '';
            -webkit-transition: var(--asm-default-transition);
            transition: var(--asm-default-transition);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background: var(--ball-background);
            border-radius: 50%;
        }

        .asm-form__linkbox {
            text-align: right;
        }

        .asm-form__link {
            text-decoration: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: var(--asm-color-flat);
            font-size: 1em;
        }

        .asm-form__link:hover {
            color: var(--asm-color-accent);
        }

        .asm-form__btn {
            width: 100%;
            padding: 0.75rem;
            border: none;
            border-radius: 0.3rem;
            text-transform: uppercase;
            cursor: pointer;
            font-family: inherit;
            font-size: 1.2em;
            color: var(--asm-color-dark);
            background: var(--asm-color-btn-secondary);
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

        .asm-form__btn:hover {
            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }



        * {
            margin: 0;
            padding: 0;
        }

        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: flex-start;

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 15px;
            background: #eee;
        }

        .cd__intro {
            padding: 60px 30px;
            margin-bottom: 15px;
            flex-direction: column;

        }

        .cd__intro,
        .cd__credit {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            background: #fff;
            color: #333;
            line-height: 1.5;
            text-align: center;
        }

        .cd__intro h1 {
            font-size: 18pt;
            padding-bottom: 15px;

        }

        .cd__intro p {
            font-size: 14px;
        }

        .cd__action {
            text-align: center;
            display: block;
            margin-top: 20px;
        }

        .cd__action a.cd__btn {
            text-decoration: none;
            color: #666;
            border: 2px solid #666;
            padding: 10px 15px;
            display: inline-block;
            margin-left: 5px;
        }

        .cd__action a.cd__btn:hover {
            background: #666;
            color: #fff;
            transition: .3s;
            -webkit-transition: .3s;
        }

        .cd__action .cd__btn:before {
            font-family: FontAwesome;
            font-weight: normal;
            margin-right: 10px;
        }

        .down:before {
            content: "\f019"
        }

        .back:before {
            content: "\f112"
        }

        .cd__credit {
            padding: 12px;
            font-size: 9pt;
            margin-top: 40px;

        }

        .cd__credit span:before {
            font-family: FontAwesome;
            color: #e41b17;
            content: "\f004";


        }

        .cd__credit a {
            color: #333;
            text-decoration: none;
        }

        .cd__credit a:hover {
            color: #1DBF73;
        }

        .cd__credit a:hover:after {
            font-family: FontAwesome;
            content: "\f08e";
            font-size: 9pt;
            position: absolute;
            margin: 3px;
        }

        .cd__main {
            background: #fff;
            padding: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

        }

        .cd__main {
            display: flex;
            width: 100%;
        }


        }
    </style>
    <!-- Script JS -->
    <script>
        const frmSignIn = document.getElementById('frmSignIn');
        const frmForget = document.getElementById('frmForget');
        const frmRegister = document.getElementById('frmRegister');

        const inputs = document.querySelectorAll('.asm-form__input');
        const showPasswordTogglers = document.querySelectorAll('[data-action="toggle-show-password"]');
        const linkButtons = document.querySelectorAll('[data-action="show-form"]');

        /* Functions */
        const inputLabelFocusOut = event => {
            label = document.querySelector(`label[for="${event.target.id}"]`);
            if (event.target.value.length > 0) {
                label.classList.add('active');
                label.parentNode.classList.remove('invalid');
            } else {
                label.classList.remove('active');
            }
        }

        const inputLabelFocus = event => {
            label = document.querySelector(`label[for="${event.target.id}"]`);
            label.classList.add('active');
            label.parentNode.classList.remove('invalid');
        }

        const toggleShowPassword = event => {
            const input = document.querySelector(event.target.dataset.input);
            const type = input.getAttribute('type');
            input.setAttribute('type', type === 'password' ? 'text' : 'password');
        }

        const showForm = event => {
            event.preventDefault();

            for (const form of document.querySelectorAll('.asm-form')) {
                form.classList.remove('active');
            }

            for (const error of document.querySelectorAll('.asm-form__inputbox.invalid')) {
                error.classList.remove('invalid');
            }

            document.querySelector(event.target.dataset.target).classList.add('active');
        }

        /* Listener assigns */

        for (const input of inputs) {
            input.addEventListener('focusout', inputLabelFocusOut);
            input.addEventListener('focus', inputLabelFocus);
        }

        for (const toggler of showPasswordTogglers) {
            toggler.addEventListener('click', toggleShowPassword);
        }

        for (const button of linkButtons) {
            button.addEventListener('click', showForm);
        }

        /* Form Validator*/

        const validateForm = form => {
            const inputs = form.querySelectorAll('.validate');
            for (const input of inputs) {

                input.classList.remove('invalid');
                input.parentNode.classList.remove('invalid');

                let allOK = true;

                switch (input.dataset.validation) {
                    case 'regex': {
                        allOK = input.value.match(new RegExp(input.dataset.regex));
                        break;
                    }
                    case 'match': {
                        allOK = input.value === form.querySelector(input.dataset.target).value;
                        break;
                    }
                    default: {
                        allOK = false;
                        break;
                    }
                } //end of switch

                if (!allOK) {
                    input.classList.add('invalid');
                    input.parentNode.classList.add('invalid');
                    return false;
                }
            } //end of for-of

        }
    </script>
    <!--$%analytics%$-->
</body>

</html>